.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f5f5f5;
    color: #333;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header, footer {
    background-color: #9000ff;
    color: #fff;
    padding: 1rem;
    text-align: left;
}

main {
    flex-grow: 1;
    padding: 20px;
}

a {
    color: #9000ff;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

button, input, select, textarea {
    width: 50%; 
    padding: 8px 10px; 
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: block; 
    margin: 0 auto; 
    font-size: 14px; 
}

button {
    background-color: #9000ff;
    border: none;
    color: #fff;
    cursor: pointer;

    &:hover {
        background-color: #7a00e0; 
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    align-items: left; 
}

label {
    margin-bottom: 5px;
}

.error {
    color: #ff0000;
    font-size: 14px;
}